<template>
  <div class="about">
    <h1>The color is {{color}}</h1>
  </div>
</template>

<script>
export default {
  props: ["color"],
  mounted() {
    console.log(this);
    setTimeout(() => {
      this.changeParentText(314);
    }, 2000);
  },
  methods: {
    changeParentText(param) {
      console.log("emitting" + param);
      this.$emit("boom", param);
    }
  }
};
</script>>
