<template>
  <div v-if="profile" class="chat view-content">
    <img
      class="bk-img"
      :src="require('../assets/profileimages/' + profile.name + '.jpg')"
      :alt="profile.name"
    />
    <div class="profile-data">{{ profile.name }}</div>
    <div class="msg-wrapper" ref="msgWindow">
      <div :key="msg.time" v-for="msg in profile.messages" class="msg-block">
        <!-- USER -->
        <UserMsgBlock v-if="msg.from === 'user'" :msg="msg" :profile="profile" />
        <!-- ME -->
        <MyMsgBlock v-else :msg="msg" />
      </div>
      <TypingDots v-if="userTyping" :profile="profile" />
    </div>
    <div class="form-wrapper">
      <form @submit.prevent="submitMsg">
        <input type="text" v-model="message" />
        <button class="submit">SEND</button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex";
import { getUser, updateUser } from "@/services/userService";
import UserMsgBlock from "@/components/UserMsgBlock.vue";
import MyMsgBlock from "@/components/MyMsgBlock.vue";
import TypingDots from "@/components/TypingDots.vue";
import { getRandomQuote } from "@/data/quotes";

export default {
  components: {
    UserMsgBlock,
    MyMsgBlock,
    TypingDots
  },

  data() {
    return {
      profile: "",
      message: "",
      userTyping: false
    };
  },

  async beforeMount() {
    const id = parseInt(this.$route.params.id);
    if (this.profiles) this.profile = this.getProfile(id);
    if (!this.profile) {
      try {
        const response = await getUser(id);
        this.profile = response.data.user;
        // console.log(this.profile);
      } catch (error) {
        console.log("ERR >> ", error);
      }
    }

    // set initial msg
    if ((await this.profile.messages.length) < 1) {
      this.profile.messages.push({
        from: "user",
        time: new Date().getTime() / 1000,
        content: getRandomQuote()
      });
      this.updateProfiles(this.profile);
    }
    await this.scrollDown();
  },

  computed: {
    ...mapGetters(["getProfile"]),
    ...mapState(["profiles"])
  },

  methods: {
    ...mapActions(["updateProfiles"]),

    async submitMsg() {
      this.profile.messages.push({
        from: "me",
        time: new Date().getTime() / 1000,
        content: this.message
      });

      try {
        await updateUser(this.profile);
      } catch (error) {
        console.log(error);
        this.profile.messages = [];
      }

      this.updateProfiles(this.profile);
      this.message = "";
      this.userReplyMsg();
      setTimeout(() => this.scrollDown(), 1);
    },

    userReplyMsg() {
      this.userTyping = true;
      setTimeout(() => {
        this.profile.messages.push({
          from: "user",
          time: new Date().getTime() / 1000,
          content: getRandomQuote()
        });
        this.updateProfiles(this.profile);
        this.userTyping = false;
        setTimeout(() => this.scrollDown(), 1);
      }, 3000);
    },

    scrollDown() {
      this.$refs.msgWindow.scrollTop = this.$refs.msgWindow.scrollHeight + 100;
    }
  }
};
</script>

<style lang="scss">
.chat {
  width: 100%;
  height: 100%;
  .bk-img {
    margin-top: 3rem;
    z-index: 0;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.1;
  }
  .profile-data {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.48);
    color: white;
    font-size: 2rem;
    opacity: 1;
    padding: 0.5rem;
    margin: 0 -1rem;
  }

  .msg-wrapper {
    z-index: 1;
    height: 100%;
    overflow: auto;
    padding: 2rem 1rem;
    .msg-block {
      margin: 1rem 0;
    }
  }

  .form-wrapper {
    z-index: 1;
    margin: -1rem;
    height: 6rem;
    background: lightgray;
    form {
      border: 1px solid;
      height: 4rem;
      border-radius: 5rem;
      background: white;
      margin: 1rem;
      display: flex;
      justify-content: space-between;
      input {
        outline: none;
        border: none;
        background: transparent;
        padding: 1rem;
        width: 100%;
        font-size: 1rem;
      }
      button {
        border: none;
        border-radius: 5rem;
        outline: none;
        margin: 0.3rem;
        padding: 1rem;
        background: blue;
        color: white;
        font-weight: 600;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
  }
}
</style>
