<template>
  <div class="index view-content">
    <h1 class="title">
      Welcome to
      <span>Chatsapp</span>
    </h1>
    <p v-if="name === ''" class="subtitlse">
      Please enter your nickname and select your avatar.
    </p>
    <h1 v-else>{{ name }}</h1>
    <AvatarSelector />
    <input
      class="input-name"
      type="text"
      placeholder="Type your nickname ..."
      v-on:input="setName"
    />
    <button
      class="btn"
      :class="{ 'is-disabled': name === '' || avatar === '' }"
      :disabled="name === ''"
      @click.prevent="$router.push('Users')"
    >
      Start chatting with your friends
    </button>
  </div>
</template>

<script>
import AvatarSelector from '@/components/AvatarSelector.vue';
import { mapState, mapActions } from 'vuex';
import { getUsers } from '@/services/userService';

export default {
  components: {
    AvatarSelector,
  },

  mounted() {
    this.loadUsers();
  },

  computed: mapState(['name', 'avatar']),

  methods: {
    ...mapActions(['updateName', 'storeUsers']),

    setName(_e) {
      this.updateName(_e.target.value);
    },

    async loadUsers() {
      try {
        const response = await getUsers();
        this.storeUsers(response.data.users);
        // console.log('users: ', response.data.users);
      } catch (error) {
        console.error('ERR >> ', error);
      }
    },
  },
};
</script>

<style lang="scss">
.index {
  .title {
    font-size: 1.2rem;
    font-weight: 200;
    font-style: italic;
    span {
      font-style: normal;
      color: lightseagreen;
      font-weight: 600;
      font-size: 2rem;
      display: block;
    }
  }
  .subtitle {
    font-size: 1rem;
  }
  .input-name {
    border-radius: 5rem;
    height: 2rem;
    border: 1px solid grey;
    outline: none;
    padding: 1rem;
    margin: 1rem;
  }

  .btn {
    background: lightseagreen;
    text-transform: uppercase;
    margin: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    outline: none;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
  .is-disabled {
    background: lightgray;
    color: gray;
    &:hover {
      cursor: not-allowed;
      opacity: 1;
    }
  }
}
</style>
