<template>
  <div
    v-if="profile"
    class="profile view-content"
    :style="profile.friend ? 'background:lightgreen' : 'background:lightgray'"
  >
    <figure class="profile-image">
      <span
        :style="profile.online ? 'background:green' : ''"
      >{{ profile.online ? 'ONLINE' : 'OFFLINE' }}</span>
      <router-link :to="{ name: 'Chat', params: { id: profile.id } }">
        <img :src="require('../assets/profileimages/' + profile.name + '.jpg')" :alt="profile.name" />
      </router-link>
    </figure>

    <div class="content-wrapper">
      <div class="main">
        <div class="personal">
          <p class="name">{{ profile.name }}, {{ profile.age }}</p>
          <p class="city">{{ profile.city }}</p>
        </div>
        <div class="favorite" @click="toggleFavorite">
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="512px"
            height="512px"
            viewBox="0 0 512 512"
            enable-background="new 0 0 512 512"
            xml:space="preserve"
          >
            <polygon
              :fill="profile.favorite ? 'yellow' : 'grey'"
              stroke="grey"
              stroke-width="10"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="10"
              points="
	259.216,29.942 330.27,173.919 489.16,197.007 374.185,309.08 401.33,467.31 259.216,392.612 117.104,467.31 144.25,309.08 
	29.274,197.007 188.165,173.919 "
            />
          </svg>
        </div>
      </div>
      <div class="description">{{ profile.description }}</div>
    </div>
    <button
      :class="profile.friend ? 'remove-friend' : 'add-friend'"
      @click="toggleFriend"
    >{{ profile.friend ? 'REMOVE FRIEND' : 'ADD AS FRIEND' }}</button>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex";
import { getUser, updateUser } from "@/services/userService";

export default {
  data() {
    return {
      profile: ""
    };
  },

  async beforeMount() {
    const id = parseInt(this.$route.params.id);
    if (this.profiles) this.profile = this.getProfile(id);
    // if (!this.profile) this.$router.go(-1);
    if (!this.profile) {
      try {
        const response = await getUser(id);
        this.profile = response.data.user;

        console.log(this.profile);
      } catch (error) {
        console.log("ERR >> ", error);
      }
    }
  },

  computed: {
    ...mapGetters(["getProfile"]),
    ...mapState(["profiles"])
  },

  methods: {
    ...mapActions(["updateProfiles"]),

    async toggleFavorite() {
      const initState = this.profile.favorite;
      this.profile.favorite = !this.profile.favorite;
      try {
        const res = await updateUser(this.profile);
        console.log("RESP: ", res.data.users);
      } catch (error) {
        console.log(error);
        // if server arror, set previous state
        this.profile.favorite = initState;
      }
      this.updateProfiles(this.profile);
    },

    async toggleFriend() {
      const initState = this.profile.friend;
      this.profile.friend = !this.profile.friend;
      try {
        await updateUser(this.profile);
      } catch (error) {
        console.log(error);
        // if server arror, set previous state
        this.profile.favorite = initState;
      }

      this.updateProfiles(this.profile);
    }
  }
};
</script>

<style scope lang="scss">
.profile {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: lightgray;
  .profile-image {
    position: relative;
    margin: 2rem auto;
    // margin-top: 2rem;
    span {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background: grey;
      font-size: 0.8rem;
      font-weight: 800;
      color: white;
      line-height: 4rem;
      z-index: 1;
    }
    img {
      width: 18rem;
      height: 18rem;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid white;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }

  .content-wrapper {
    display: flex;
    flex-flow: wrap;
    bottom: 1px solid;
    padding: 1rem;
    .main {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-flow: nowrap;
      .personal {
        text-align: left;
        .name {
          font-size: 1.5rem;
          font-weight: 800;
          margin: 0;
        }
        .city {
          color: tomato;
          margin: 0;
          font-weight: 800;
        }
      }
      .favorite {
        svg {
          width: 2rem;
          height: 2rem;
        }
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
    .description {
      margin-top: 1rem;
      text-align: left;
    }
  }

  .add-friend,
  .remove-friend {
    margin: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-weight: 600;
    outline: none;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
  .add-friend {
    background: grey;
  }
  .remove-friend {
    background: green;
  }
}
</style>
