<template>
  <div class="users view-content">
    <div class="filter">
      <div :class="{ selected: filterByAll }" @click="searchFilter">All</div>
      <div :class="{ selected: !filterByAll }" @click="searchFilter">
        Friends
      </div>
    </div>
    <input
      type="text"
      class="search-users"
      placeholder="Search bu name ..."
      v-model="search"
      @input="searchFilter"
    />
    <div class="profiles-wrapper">
      <UserSmallCard
        :key="profile.id"
        :profile="profile"
        :profiles="profiles"
        v-for="profile in filteredUsers"
      />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import UserSmallCard from '@/components/UserSmallCard.vue';
import { getUsers } from '@/services/userService';

export default {
  name: 'Users',
  components: {
    UserSmallCard,
  },

  data() {
    return {
      filterByAll: true,
      filteredUsers: this.$store.state.profiles,
      search: '',
    };
  },

  async beforeMount() {
    // Get profiles from store, if no users, try from API
    const profiles = this.$store.state.profiles;
    if (!profiles || profiles.length < 1) {
      try {
        const response = await getUsers();
        this.filteredUsers = response.data.users;
        this.storeUsers(response.data.users);
      } catch (error) {
        console.error('ERR >> ', error);
      }
    } else {
      this.filteredUsers = profiles;
    }
  },

  methods: {
    ...mapActions(['storeUsers']),

    searchFilter(_e) {
      const usersCopy = [...this.$store.state.profiles];
      if (_e.type === 'click') {
        this.filterByAll = !this.filterByAll;
      }
      let result = [];
      result = this.filterByAll
        ? usersCopy
        : usersCopy.filter((s) => s.friend === true);

      result = result.filter((item) =>
        item.name.toLowerCase().includes(this.search.toLowerCase())
      );

      this.filteredUsers = result;
    },
  },

  computed: {
    ...mapState({
      profiles: (state) => state.profiles,
    }),
  },
};
</script>

<style lang="scss">
.users {
  justify-content: flex-start !important;
  .search-users {
    border-radius: 5rem;
    height: 2rem;
    border: 1px solid grey;
    outline: none;
    padding: 1rem;
    margin: 1rem;
  }
  .filter {
    width: 100%;
    display: flex;
    flex-flow: nowrap;
    padding: 1rem;
    div {
      width: 50%;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
    .selected {
      border-bottom: 2px solid grey;
      padding-bottom: 0.5rem;
    }
  }
}
</style>
