<template>
  <div class="avatar-selector">
    <figure :key="avatar.id" v-for="avatar in avatars" @click="changeAvatar(avatar.id)">
      <div
        class="avatar"
        :class="{ 'is-selected': selected === avatar.id ? true : false }"
        :style="`backgroundPosition: ${avatar.x}em ${avatar.y}em`"
      ></div>
    </figure>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "AvatarSelector",
  data() {
    return {
      avatars: [
        { id: 1, x: 18.8, y: -3 },
        { id: 2, x: 14.3, y: -3 },
        { id: 3, x: 9.7, y: -3 },
        { id: 4, x: 5.2, y: -3 },
        { id: 5, x: 18.8, y: -8 },
        { id: 6, x: 14.3, y: -8.4 },
        { id: 7, x: 9.7, y: -8.4 },
        { id: 8, x: 5.2, y: -8.4 },
        { id: 9, x: 18.8, y: -14 },
        { id: 10, x: 14.2, y: -13.8 },
        { id: 11, x: 9.7, y: -14 },
        { id: 12, x: 5.2, y: -14 }
      ],
      selected: ""
    };
  },

  methods: {
    changeAvatar(id) {
      this.selected = id;
      const avatar = this.avatars.find(a => a.id === id);
      this.$store.dispatch("updateAvatar", avatar);
    }
  },

  computed: {
    ...mapState(["avatar"])
  }
};
</script>

<style lang="scss" scoped>
.avatar-selector {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 100%;
  figure {
    margin: 0.6em auto;
    width: 25%;
    .avatar {
      background-image: url("~@/assets/avatars.jpg");
      background-size: 20rem;
      margin: 0 auto;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      filter: grayscale(100%);
      &:hover {
        cursor: pointer;
      }
    }
    .is-selected {
      border: 2px dashed tomato;
      filter: unset;
      animation: lookMe 0.2s linear;
    }
    @keyframes lookMe {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      0% {
        transform: scale(1);
      }
    }
  }
}
</style>
