<template>
  <div class="my-msg">
    <div class="msg">
      <p>{{ msg.content }}</p>
      <time>{{ parseTime(msg.time) }}</time>
    </div>
    <div class="avatar" :style="`backgroundPosition: ${avatar.x}em ${avatar.y}em`"></div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "MyMsgBlock",
  props: ["msg"],

  methods: {
    parseTime(time) {
      return new Date(time * 1000).toLocaleString();
    }
  },

  computed: {
    ...mapState(["avatar"])
  }
};
</script>

<style scoped lang="scss">
.my-msg {
  display: flex;
  justify-content: flex-end;
  flex-flow: nowrap;

  .msg {
    position: relative;
    background: lightgreen;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: -2px 2px 6px -2px black;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 1rem solid lightgreen;
      border-bottom: 1rem solid transparent;
      position: absolute;
      top: 0;
      right: -0.5rem;
      z-index: -1;
    }
    p {
      margin: 0;
      text-align: left;
    }
    time {
      display: block;
      text-align: right;
      margin-top: 1rem;
      font-size: 0.8rem;
      opacity: 0.5;
      width: 100%;
    }
  }

  .avatar {
    position: relative;
    bottom: 0.5rem;
    background-image: url("~@/assets/avatars.jpg");
    background-size: 20rem;
    min-width: 4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    transform: scale(0.8);
    &:hover {
      cursor: pointer;
    }
  }
}
</style>
