<template>
  <nav id="nav">
    <div id="back_arrow" @click.prevent="goBack">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="10px"
        y="10px"
        viewBox="0 0 492.004 492.004"
        xml:space="preserve"
      >
        <path
          d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
        c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
        c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
        c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"
        />
      </svg>
    </div>

    <div class="content">{{ $route.name }}</div>
  </nav>
</template>

<script>
export default {
  name: 'Navigation',

  mounted() {},

  methods: {
    goBack() {
      switch (this.$route.name) {
        case 'Profile':
          this.$router.push({ name: 'Users' });
          break;
        case 'Users':
          this.$router.push({ name: 'Home' });
          break;
        case 'Chat':
          this.$router.push({
            name: 'Profile',
            params: { id: this.$route.params.id },
          });
          break;
        default: //
      }
    },
  },
};
</script>

<style lang="scss">
#nav {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  background: #0070cc;
  color: white;
  height: 3rem;
  margin-bottom: -3rem;
  z-index: 2;

  .content {
    text-align: center;
    margin: 0 auto;
  }
  #back_arrow {
    svg {
      width: 1rem;
      transform: rotate(180deg);
      fill: white;
      margin-right: -1rem;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
</style>
