<template>
  <div class="typing-wrapper">
    <div
      class="avatar"
      :style="{
        backgroundImage:
          'url(' +
          require('../assets/profileimages/' + profile.name + '.jpg') +
          ')',
      }"
    >
      <span v-if="profile.online" class="badge"></span>
    </div>
    <div id="wave">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: "TypingDots",
  props: ["profile"]
};
</script>

<style scoped lang="scss">
.typing-wrapper {
  display: flex;
  position: relative;
  margin-top: 1rem;

  .avatar {
    position: relative;
    min-width: 3rem;
    width: 3rem;
    height: 3rem;
    display: block;
    background-size: cover;
    border-radius: 50%;
    margin-right: 0.5rem;
    .badge {
      width: 1rem;
      height: 1rem;
      position: absolute;
      background: green;
      border-radius: 50%;
      border: 2px solid lightgreen;
      bottom: 0;
      right: 0;
    }
  }

  #wave {
    position: relative;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    .dot {
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      margin-right: 3px;
      background: #303131;
      animation: wave 1.3s linear infinite;

      &:nth-child(2) {
        animation-delay: -1.1s;
      }

      &:nth-child(3) {
        animation-delay: -0.9s;
      }
    }
  }
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-0.5rem);
  }
}
</style>
