<template>
  <router-link
    :to="{ name: 'Profile', params: { id: profile.id } }"
    :profiles="profiles"
    class="rl"
  >
    <div class="profile-card" :style="profile.friend ? 'background:lightgreen' : ''">
      <div
        class="profile-img"
        :style="{
            backgroundImage:
              'url(' +
              require('../assets/profileimages/' + profile.name + '.jpg') +
              ')',
          }"
      >
        <span v-if="profile.online" class="badge"></span>
      </div>
      <div class="profile-content">
        <div>
          <p class="profile-name">{{ profile.name }}, {{ profile.age }}</p>
          <p class="profile-city">{{ profile.city }}</p>
        </div>
        <div class="favorite">
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="512px"
            height="512px"
            viewBox="0 0 512 512"
            enable-background="new 0 0 512 512"
            xml:space="preserve"
          >
            <polygon
              :fill="profile.favorite ? 'yellow' : 'grey'"
              stroke="grey"
              stroke-width="10"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="10"
              points="
	259.216,29.942 330.27,173.919 489.16,197.007 374.185,309.08 401.33,467.31 259.216,392.612 117.104,467.31 144.25,309.08 
	29.274,197.007 188.165,173.919 "
            />
          </svg>
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "UserSmallCard",
  props: ["profile", "profiles"]
};
</script>

<style scoped lang="scss">
.rl {
  text-decoration: none;
  color: inherit;
}
.profile-card {
  display: flex;
  box-shadow: 1px 1px 6px -2px black;
  border-radius: 2rem 0.4rem 0.4rem 2rem;
  padding: 0.5rem;
  margin: 1rem;
  min-height: 3rem;
  .profile-img {
    position: relative;
    width: 3rem;
    height: 3rem;
    background-size: 100%;
    border-radius: 50%;
    .badge {
      width: 1rem;
      height: 1rem;
      position: absolute;
      background: green;
      border-radius: 50%;
      border: 2px solid lightgreen;
      bottom: 0;
      right: 0;
    }
  }
  .profile-content {
    display: flex;
    justify-content: space-between;
    flex-flow: nowrap;
    width: 70%;
    margin: auto;
    text-align: left;
    .profile-name {
      font-weight: 600;
      margin: 0;
      width: 100%;
    }
    .profile-city {
      color: tomato;
      margin: 0;
    }
    .favorite {
      margin: auto 0;
      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
</style>
