<template>
  <div class="user-msg">
    <router-link :to="{ name: 'Profile', params: { id: profile.id } }">
      <div
        class="avatar"
        :style="{
          backgroundImage:
            'url(' +
            require('../assets/profileimages/' + profile.name + '.jpg') +
            ')',
        }"
      >
        <span v-if="profile.online" class="badge"></span>
      </div>
    </router-link>
    <div class="msg">
      <p>{{ msg.content }}</p>
      <time>{{ parseTime(msg.time) }}</time>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserMsgBlock',
  props: ['msg', 'profile'],

  methods: {
    parseTime(time) {
      return new Date(time * 1000).toLocaleString();
    },
  },
};
</script>

<style scoped lang="scss">
.user-msg {
  display: flex;
  justify-content: flex-start;
  flex-flow: nowrap;

  .msg {
    position: relative;
    background: lightblue;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 6px -2px black;
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-right: 1rem solid lightblue;
      border-bottom: 1rem solid transparent;
      position: absolute;
      top: 0;
      left: -0.5rem;
      z-index: -1;
    }
    p {
      margin: 0;
      text-align: left;
    }
    time {
      display: block;
      text-align: right;
      margin-top: 1rem;
      font-size: 0.8rem;
      opacity: 0.5;
      width: 100%;
    }
  }

  .avatar {
    position: relative;
    min-width: 3rem;
    width: 3rem;
    height: 3rem;
    display: block;
    background-size: cover;
    border-radius: 50%;
    margin-right: 0.5rem;
    .badge {
      width: 1rem;
      height: 1rem;
      position: absolute;
      background: green;
      border-radius: 50%;
      border: 2px solid lightgreen;
      bottom: 0;
      right: 0;
    }
  }
}
</style>
