<template>
  <div id="app">
    <transition-group name="slide" mode="out-in">
      <Navigation v-bind:key="1" v-if="$route.name !== 'Home'" />
      <router-view v-bind:key="2" />
    </transition-group>
  </div>
</template>

<script>
import Navigation from '@/components/Navigation.vue';

export default {
  components: {
    Navigation,
  },
};
</script>

<style lang="scss">
/* TRANSITION */
.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.1s, transform 0.1s;
}
.slide-enter,
.slide-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

html,
body {
  margin: 0;
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  font-size: 16px;
  @media screen and (max-width: 800px) {
    padding: 0;
  }
  background: tomato;
}
#app {
  position: relative;
  background: white;
  display: block;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 1rem;
  box-shadow: 4px 8px 12px 0px #00000085;
  border-radius: 1rem;
  overflow: hidden;
  @media screen and (max-width: 800px) {
    width: 100%;
    border-radius: unset;
  }

  .view-content {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 3rem;
    overflow: auto;
  }
}
</style>
